// base styles
body {
    margin: 0;
    padding: 0;
}

nav {
   display: inline;
   text-decoration: none;

   ul {
       text-decoration: none;
   }

   li {
       display: inline;
       text-decoration: none;
   }
}

h3 {
    margin: 0;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 10vh;
    text-align: center;
    padding-top: 15vh;
}


