@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Courgette|Indie+Flower|Oswald|Raleway|Shadows+Into+Light');

// all the fonts 

// font-family: 'Oswald', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Indie Flower', cursive;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Amatic SC', cursive;
// font-family: 'Courgette', cursive;

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.459), #000000a9), url(../images/tshirt.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}




